* {
    margin: 12px;
    padding: 0;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
}
body {
    font-size: 18px;
    font-family: Merriweather;
    text-align: center;
    font-weight: 100;
    border: 5px dotted #147c4a;
    word-spacing: 8px;
    background-image: url(https://i.pinimg.com/736x/bb/d3/b1/bbd3b144949dbc5a1b9f5b03f6163e32.jpg);
    background-size: contain;
}
h1 {
    font-weight: 100;
}
h3 {
    font-weight: 100;
}
div {
    color: white;
    text-align: center;
    margin: auto;
    padding: 4px;
}
p {
    border: 5px dotted #1b7069;
    width: 700px;
    text-align: center;
    margin: auto;
    margin-top: 32px;
    border-radius: 24px;
    padding: 24px;
    border-radius: 24px 32px 24px 16px;
}
ul {
    border: 5px dotted #147c4a;
    width: 700px;
    margin: auto;
    padding: 24px;
    border-radius: 16px 64px 32px 24px;
}
li {
    list-style: none;
    padding: 8px;
}
img {
    height: 300px;
}
@media only screen and (max-width: 780px) {
    p {
        width: 375px;
    }
    ul {
        width: 375px;
    }
  }
